<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.strengthcoach.strengthcoach" > <!-- Checked in by Neeraja starts -->
    <uses-sdk android:minSdkVersion="8" />

    <permission
        android:name="com.example.mapdemo.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.mapdemo.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.example.mapdemo.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.strengthcoach.strengthcoach.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.strengthcoach.strengthcoach.permission.C2D_MESSAGE" />
    <!-- Permission to vibrate - recommended, allows vibration feedback on scan -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Permission for SMS -->
    <uses-permission android:name="android.permission.SEND_SMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS" >
    </uses-permission>
    <!-- Permission to use camera - required -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Camera features - recommended -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <!-- Checked in by Neeraja ends -->
    <application
        android:name=".activities.StrengthCoachApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/login" >
        </activity>
        <activity
            android:name=".activities.PhoneNoVerificationActivity"
            android:label="@string/title_activity_phone_no_verification"
            android:parentActivityName=".activities.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.strengthcoach.strengthcoach.activities.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.BlockSlotActivity"
            android:label="@string/title_activity_block_slot"
            android:parentActivityName=".activities.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.strengthcoach.strengthcoach.activities.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.TrainerDetailsActivity"
            android:label="@string/title_activity_trainer_details" >
        </activity>
        <activity
            android:name=".activities.ChatActivity"
            android:label="@string/title_activity_chat" >
        </activity>
        <activity
            android:name=".activities.PaymentActivity"
            android:label="@string/title_activity_payment"
            android:parentActivityName=".activities.BlockSlotActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.strengthcoach.strengthcoach.activities.BlockSlotActivity" />
        </activity>
        <activity
            android:name=".activities.CartActivity"
            android:label="@string/title_activity_cart"
            android:parentActivityName=".activities.BlockSlotActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.strengthcoach.strengthcoach.activities.BlockSlotActivity" />
        </activity>
        <activity
            android:name=".activities.UpcomingEventsActivity"
            android:label="@string/title_activity_upcoming_events" >
        </activity>

        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCxQbe8eGA5y8HSAJq4B9bsTqgV2wAlXgc" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.strengthcoach.strengthcoach" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".helpers.PushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>

        <!-- replace @drawable/push_icon with your push icon identifier -->
        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/app_icon" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activities.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name=".activities.TrainerDetailsAnimatedActivity"
            android:label="@string/title_activity_trainer_details_animated"
            android:parentActivityName=".activities.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.strengthcoach.strengthcoach.activities.HomeActivity" />
        </activity>
    </application>

</manifest>
